* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.gray {
	color: #918e9b;
}

nav {
	height: 100px;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
	display: flex;
}

.logo {
	/* width: 82px;
	height: 25px; */
	margin: 22px 0 22px 30px;
}
section {
	padding: 20px;
}
.hero--img {
	display: block;
	margin: 0 auto;
	padding: 36px;
	max-width: 100%;
}

.hero--title {
	font-size: 46px;
	font-weight: 600;
	line-height: 40px;
	margin-bottom: 16px;
	padding-left: 36px;
}

.hero--paragraph {
	font-size: 26px;
	font-weight: 300;
	padding-left: 36px;
}

.cards-list {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}
.card {
	position: relative;
	margin: 49px 18px 30px 37px;
	flex: 0 0 auto;
	width: 300px;
}

.card--badge {
	position: absolute;
	text-transform: uppercase;
	background-color: white;
	font-size: 15px;
	font-weight: bold;
	border-radius: 2px;
	text-align: center;
	padding: 5px;
	left: 6px;
	top: 6px;
}

.card--img {
	width: 100%;
	max-height: 400px;
	border-radius: 9px;
	margin-bottom: 9px;
}

.rating,
.experience {
	font-size: 20px;
}
.rating--star {
	display: inline-block;
	height: 14px;
	width: 14px;
}

.experience--title {
	margin: 8px 0px;
}

.experience--price {
	margin: 0;
}
